body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 320px) {

    header {
        width: 100%;
        background-color: rgb(68, 68, 68);
        height: 37px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .headNav {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        padding-left: 5%;
    }

    .nav i {
        color: #ffffff;
        background-color: rgb(52, 57, 61);
        width: 34px;
        text-align: center;
        line-height: 34px;
    }

    .fa-times {
        display: none;
    }

    .navList {
        position: absolute;
        right: 0;
        top: 37px;
        padding: 0;
        background-color: #f8f8f8;
        display: none;
    }

    .navList ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 182px;
    }

    .navList li {
        border: 1px solid lightgray;
        height: 30px;
        padding-left: 5%;
    }

    .navList li:hover {
        background-color: lightgray;
    }

    .navList a {
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        color: #444444;
        font-size: 12px;
        font-weight: 400;
        line-height: 30px;
    }

    header img {
        display: none;
    }

    .firstSection {
        height: 173px;
        background-image: url("../images/header-fon.png");
        background-size: cover;
    }

    .firstSection h1 {
        font-family: 'Lato', sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 20px 0 11px 20px;
    }

    .firstSection a {
        font-family: 'Lato', sans-serif;
        color: #a6d6e0;
        font-size: 14px;
        text-decoration: none;
        padding-left: 20px;
    }

    .secondSection .inline {
        height: 75px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        line-height: 75px;
        border-top: 1px solid #ffffff;
    }

    .secondSection .pizza {
        background-image: url("../images/Pizza-delivery-fon.png");
        background-size: cover;
        width: 80vw;
        display: inline-block;
    }

    .secondSection .salads {
        background-image: url("../images/UA_UX-Salads-fon.png");
        background-size: cover;
        width: 80vw;
        display: inline-block;
    }

    .secondSection .deserts {
        background-image: url("../images/Desserts-fon.png");
        background-size: cover;
        width: 80vw;
        display: inline-block;
    }

    .secondSection .continue {
        background-color: rgb(172, 217, 173);
        width: 20vw;
        display: inline-block;
    }

    .thirdSection {
        background-color: rgb(255, 255, 255);
    }

    .thirdSection .nequeEro {
        font-family: 'Lato', sans-serif;
        color: #3f4043;
        font-size: 20px;
        font-weight: 400;
        padding: 25px 0 5px 0;
        text-align: center;
    }

    .thirdSection .ultrices {
        font-family: 'Lato', sans-serif;
        color: #cbcdce;
        font-size: 10px;
        font-weight: 400;
        text-align: left;
        padding: 0 0 10px 5%;
    }

    .thirdSection > img {
        display: none;
    }

    .thirdSection .menuTopic1 {
        width: 95%;
        height: 37px;
        background-color: rgb(61, 62, 65);
        font-family: 'Lato', sans-serif;
        color: #acd9ad;
        font-size: 20px;
        font-weight: 400;
        line-height: 37px;
        text-align: left;
        padding-left: 5%;
    }

    .thirdSection .menuTopic2 {
        width: 95%;
        height: 37px;
        background-color: rgb(172, 217, 173);
        font-family: 'Lato', sans-serif;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 37px;
        text-align: left;
        padding-left: 5%;
        margin-top: 30px;
    }

    .thirdSection .menuGroup {
        font-family: 'Lato', sans-serif;
        color: #3f4043;
        font-size: 15px;
        font-weight: 400;
        padding: 15px 0 10px 20px;
        display: inline-block;
        text-align: left;
    }

    .thirdSection .menuLogo {
        max-height: 25px;
        width: auto;
        float: right;
        padding: 10px 5% 0 0;
    }

    .thirdSection .menuPosition {
        font-family: 'Lato', sans-serif;
        color: #3f4043;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        padding: 10px 0 10px 5%;
    }

    .point {
        height: 3px;
        width: 3px;
        background: black;
        border-radius: 1.5px;
        display: inline-block;
        position: relative;
        bottom: 3px;
    }

    .thirdSection .price {
        font-family: 'Lato', sans-serif;
        color: #3f4043;
        font-size: 14px;
        font-weight: 700;
        float: right;
        padding-right: 5%;
    }

    .thirdSection .menuDescription {
        font-family: 'Lato', sans-serif;
        color: #3f4043;
        font-size: 9px;
        font-weight: 400;
        text-align: justify;
        padding: 0 5%;
    }

    footer {
        height: 55px;
        background-color: rgb(172, 217, 173);
        margin-top: 40px;
    }

    footer div {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        padding: 12px 15% 0 15%;
    }

    footer img {
        display: none;
    }
}

@media (min-width: 640px) {

    header {
        height: 74px;
    }

    .headNav {
        font-size: 24px;
    }

    .nav i {
        line-height: 67px;
        width: 67px;
    }

    .fas::before {
        font-size: 35px;
    }

    .navList {
        top: 74px;
    }

    .navList ul {
        width: 243px;
    }

    .navList li {
        height: 40px;
    }

    .navList a {
        font-size: 14px;
        line-height: 40px;
    }

    .firstSection {
        height: 346px;
    }

    .firstSection h1 {
        font-size: 36px;
        padding: 30px 0 22px 38px;
    }

    .firstSection a {
        font-size: 24px;
        padding-left: 38px;
    }

    .secondSection .inline {
        height: 150px;
        font-size: 36px;
        line-height: 150px;
    }

    .thirdSection .nequeEro {
        font-size: 40px;
        padding: 45px 0 10px 0;

    }

    .thirdSection .ultrices {
        font-size: 20px;
        padding: 0 0 20px 5%;
    }

    .thirdSection .menuTopic1 {
        height: 75px;
        font-size: 40px;
        line-height: 75px;
    }

    .thirdSection .menuTopic2 {
        height: 75px;
        font-size: 40px;
        line-height: 75px;
        margin-top: 40px;
    }

    .thirdSection .menuGroup {
        font-size: 30px;
        padding: 38px 0 25px 5%;
    }

    .thirdSection .menuLogo {
        max-height: 50px;
        padding: 35px 5% 0 0;
    }

    .thirdSection .menuPosition {
        font-size: 28px;
        padding: 10px 0 16px 5%;
    }

    .point {
        bottom: 6px;
    }

    .thirdSection .price {
        font-size: 28px;
    }

    .thirdSection .menuDescription {
        font-size: 18px;
    }

    footer {
        height: 97px;
        margin-top: 110px;
    }

    footer div {
        font-size: 18px;
        padding: 30px 25% 0 25%;
    }

}

@media (min-width: 980px) {

    header {
        height: 97px;
    }

    .headNav {
        display: none;
    }

    .fas {
        opacity: 0;
    }

    .navList {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(68, 68, 68);
        display: block;
    }

    .navList ul {
        display: inline-flex;
        width: 630px;
    }

    .navList li {
        border: none;
    }

    .navList a {
        font-family: 'Montserrat', sans-serif;
        color: #ececec;
        font-size: 16px;
        line-height: 97px;

    }

    header img {
        display: block;
        position: absolute;
        right: 30px;
        top: 8px;
        width: 104px;
        height: 83px;
    }

    .firstSection {
        height: 530px;
    }

    .firstSection h1 {
        font-size: 54px;
        padding: 64px 0 57px 30px;
    }

    .firstSection a {
        font-size: 34px;
        padding-left: 30px;
    }

    .secondSection .inline {
        height: 327px;
        font-size: 38px;
        line-height: 327px;
        display: inline-block;
    }

    .secondSection .pizza {
        width: 32.7vw;
    }

    .secondSection .salads {
        width: 32.7vw;
    }

    .secondSection .deserts {
        width: 32.7vw;
    }

    .secondSection .continue {
        display: none;
    }

    .thirdSection .nequeEro {
        font-size: 34px;
        padding: 70px 0 10px 60px;
        text-align: left;
    }

    .thirdSection > img {
        display: inline;
        float: right;
        position: relative;
        bottom: 60px;
        right: 5%;
    }

    .thirdSection .ultrices {
        display: inline-block;
    }

    .thirdSection .menuTopic1 {
        font-size: 34px;
    }

    .thirdSection .menuTopic2 {
        font-size: 34px;
        margin-top: 0;
    }

    .thirdSection .menuGroup {
        font-size: 26px;
        padding: 38px 0 25px 5%;
    }

    .thirdSection .menuLogo {
        max-height: 42px;
        padding: 30px 5% 0 0;
    }

    .thirdSection .menuPosition {
        font-size: 24px;
        padding: 10px 0 16px 5%;
    }

    .thirdSection .price {
        font-size: 24px;
    }

    .thirdSection .menuDescription {
        font-size: 16px;
    }

    .thirdSection .menuMain {
        position: relative;
    }

    .thirdSection .menu1 {
        width: 50%;
    }

    .thirdSection .menu2 {
        width: 50%;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
    }

    footer {
        height: 97px;
        margin-top: 80px;
    }

    footer div {
        padding: 40px 5% 0 0;
        float: right;
    }

    footer img {
        display: inline;
        padding: 7px 0 0 37px;
    }

}

@media (min-width: 1200px) {

    header img {
        right: 38px;
    }

    .firstSection {
        height: 649px;
    }

    .firstSection h1 {
        font-size: 62px;
        padding: 58px 0 53px 37px;
    }

    .firstSection a {
        font-size: 38px;
        padding-left: 37px;
    }

    .secondSection .inline {
        height: 400px;
        font-size: 43px;
        line-height: 400px;
    }

    .thirdSection .nequeEro {
        font-size: 40px;
    }

    .thirdSection > img {
        display: inline;
        float: right;
        position: relative;
        bottom: 60px;
        right: 5%;
    }

    .thirdSection .ultrices {
        display: inline-block;
    }

    .thirdSection .menuGroup {
        font-size: 30px;
    }

    .thirdSection .menuLogo {
        max-height: 50px;
        padding: 30px 5% 0 0;
    }

    .thirdSection .menuPosition {
        font-size: 27px;
    }

    .thirdSection .price {
        font-size: 27px;
    }

    .thirdSection .menuDescription {
        font-size: 18px;
    }

    footer {
        margin-top: 120px;
    }
}
